# AirBNB Data Preparation (Target = price_gte_150)

In this notebook we focus on the data loading, basic exploring, and prepatation.

This notebook follows closely the previous data cleaning toturial from last week. We will be using the same input dataset and producing the same output with one small change - instead of the target being the continuous variable price, we will select the target price_category - and we will be using a logistic regression model instead of a linear regression model to identify where price_gte_150 is true.

## 1.0 Setup

In [15]:
# import numpy and pandas libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
# set random seed to ensure that results are repeatable
np.random.seed(1)

## 2.0 Load data

In [16]:
# load data
airbnb = pd.read_csv("C:/Users/suman/DspData/data/airbnb.csv")

airbnb.head(3)

,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,...,guests_included,price_per_extra_person,minimum_nights,number_of_reviews,number_days_btw_first_last_review,review_scores_rating,cancellation_policy,price,price_gte_150,price_category
0,0,0,Roslindale,42.282619,-71.133068,House,Entire home/apt,4,1.5,2.0,...,1,0,2,0,0,NaN,moderate,250,1,gte_226
1,0,1,Roslindale,42.286241,-71.134374,Apartment,Private room,2,1.0,1.0,...,0,0,2,36,804,94.0,moderate,65,0,lte_$75
2,1,1,Roslindale,42.292438,-71.135765,Apartment,Private room,2,1.0,1.0,...,1,20,3,41,2574,98.0,moderate,65,0,lte_$75

## 3.0 Conduct initial exploration of the data

We have a number of input variables and one target variable. For this analysis, the target variable is price.

First, our initial exploration of the data should answer the following questions:
1. How many rows and columns
2. How much of a problem do we have with na's?
3. What types of data are there?
4. What types of data are stored in columns
    1. identify which variables are numeric and may need to be standardized later
    2. identify which variables are categorical and may need to be transformed using and encoders such as one-hot-encoder.
5. Identify errors in the data - this is a common problem with categorical vars where the category is mispelled or spelled differently in some instances.

In [17]:
# look at the data
airbnb.head(3) # note that we don't want to dump all the data to the screen

,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,...,guests_included,price_per_extra_person,minimum_nights,number_of_reviews,number_days_btw_first_last_review,review_scores_rating,cancellation_policy,price,price_gte_150,price_category
0,0,0,Roslindale,42.282619,-71.133068,House,Entire home/apt,4,1.5,2.0,...,1,0,2,0,0,NaN,moderate,250,1,gte_226
1,0,1,Roslindale,42.286241,-71.134374,Apartment,Private room,2,1.0,1.0,...,0,0,2,36,804,94.0,moderate,65,0,lte_$75
2,1,1,Roslindale,42.292438,-71.135765,Apartment,Private room,2,1.0,1.0,...,1,20,3,41,2574,98.0,moderate,65,0,lte_$75

In [18]:
# generate a basic summary of the data
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   host_is_superhost                  3555 non-null   int64
 1   host_identity_verified             3555 non-null   int64
 2   neighbourhood_cleansed             3555 non-null   object
 3   latitude                           3555 non-null   float64
 4   longitude                          3555 non-null   float64
 5   property_type                      3552 non-null   object
 6   room_type                          3555 non-null   object
 7   accommodates                       3555 non-null   int64
 8   bathrooms                          3541 non-null   float64
 9   bedrooms                           3545 non-null   float64
 10  beds                               3546 non-null   float64
 11  bed_type                           3555 non-null   object
 12  Number of amenities                3555 non-null   int64
 13  guests_included                    3555 non-null   int64
 14  price_per_extra_person             3555 non-null   int64
 15  minimum_nights                     3555 non-null   int64
 16  number_of_reviews                  3555 non-null   int64
 17  number_days_btw_first_last_review  3555 non-null   int64
 18  review_scores_rating               2755 non-null   float64
 19  cancellation_policy                3555 non-null   object
 20  price                              3555 non-null   int64
 21  price_gte_150                      3555 non-null   int64
 22  price_category                     3555 non-null   object
dtypes: float64(6), int64(11), object(6)
memory usage: 638.9+ KB

In [19]:
# generate a statistical summary of the numeric value in the data
airbnb.describe()

,host_is_superhost,host_identity_verified,latitude,longitude,accommodates,bathrooms,bedrooms,beds,Number of amenities,guests_included,price_per_extra_person,minimum_nights,number_of_reviews,number_days_btw_first_last_review,review_scores_rating,price,price_gte_150
count,3555.000000,3555.000000,3555.000000,3555.000000,3555.000000,3541.000000,3545.000000,3546.000000,3555.00000,3555.000000,3555.000000,3555.000000,3555.000000,3555.000000,2755.000000,3555.000000,3555.000000
mean,0.113080,0.727989,42.339973,-71.084874,3.023629,1.215899,1.246544,1.597293,14.85879,1.427004,10.886639,3.116737,19.126582,279.052602,91.891470,166.060478,0.500422
std,0.316735,0.445058,0.024464,0.031614,1.754808,0.492656,0.738440,0.995467,4.82126,1.050204,19.092755,8.273949,35.666178,408.686952,9.548381,103.378456,0.500070
min,0.000000,0.000000,42.235942,-71.171789,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,20.000000,10.000000,0.000000
25%,0.000000,0.000000,42.329875,-71.105183,2.000000,1.000000,1.000000,1.000000,12.00000,1.000000,0.000000,1.000000,1.000000,0.000000,89.000000,85.000000,0.000000
50%,0.000000,1.000000,42.345191,-71.078487,2.000000,1.000000,1.000000,1.000000,15.00000,1.000000,0.000000,2.000000,5.000000,92.000000,94.000000,150.000000,1.000000
75%,0.000000,1.000000,42.354672,-71.062142,4.000000,1.000000,2.000000,2.000000,18.00000,1.000000,20.000000,3.000000,21.000000,402.000000,98.000000,219.000000,1.000000
max,1.000000,1.000000,42.389982,-71.000100,16.000000,6.000000,5.000000,16.000000,30.00000,14.000000,200.000000,300.000000,404.000000,2680.000000,100.000000,650.000000,1.000000

In [20]:
# Check the missing values by summing the total na's for each variable
airbnb.isna().sum()

host_is_superhost                      0
host_identity_verified                 0
neighbourhood_cleansed                 0
latitude                               0
longitude                              0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
Number of amenities                    0
guests_included                        0
price_per_extra_person                 0
minimum_nights                         0
number_of_reviews                      0
number_days_btw_first_last_review      0
review_scores_rating                 800
cancellation_policy                    0
price                                  0
price_gte_150                          0
price_category                         0
dtype: int64

In [21]:
# create a list of these catagorical variables
category_var_list = list(airbnb.select_dtypes(include='object').columns)
category_var_list

['neighbourhood_cleansed',
 'property_type',
 'room_type',
 'bed_type',
 'cancellation_policy',
 'price_category']

In [22]:
# explore the categorical variable values - often there are typos here that need to be fixed.
for cat in category_var_list: # generally, we want to avoid for loops and use a functional style (i.e. list comprehension)
    print(f"Category: {cat} Values: {airbnb[cat].unique()}")

Category: neighbourhood_cleansed Values: ['Roslindale' 'Jamaica Plain' 'Mission Hill' 'Longwood Medical Area'
 'Bay Village' 'Leather District' 'Chinatown' 'North End' 'Roxbury'
 'South End' 'Back Bay' 'East Boston' 'Charlestown' 'West End'
 'Beacon Hill' 'Downtown' 'Fenway' 'Brighton' 'West Roxbury' 'Hyde Park'
 'Mattapan' 'Dorchester' 'South Boston Waterfront' 'South Boston'
 'Allston']
Category: property_type Values: ['House' 'Apartment' 'Condominium' 'Villa' 'Bed & Breakfast' 'Townhouse'
 'Entire Floor' 'Loft' 'Guesthouse' 'Boat' 'Dorm' 'Other' nan 'Camper/RV']
Category: room_type Values: ['Entire home/apt' 'Private room' 'Shared room']
Category: bed_type Values: ['Real Bed' 'Pull-out Sofa' 'Futon' 'Airbed' 'Couch']
Category: cancellation_policy Values: ['moderate' 'flexible' 'strict' 'super_strict_30']
Category: price_category Values: ['gte_226' 'lte_$75' 'btw_$75-$150' 'btw_$151-$225']

### Summary the findings from our initial evaluation of the data

* We have 6 categorical variables
* We have 3 variables that have missing values
* There doesn't seem to be a problem with the catogorical class names.

## 4.0 Process the data

* Conduct any data prepartion that should be done *BEFORE* the data split.
* Split the data.
* Conduct any data preparation that should be done *AFTER* the data split.

### 4.1  Conduct any data prepartion that should be done *BEFORE* the data split

Tasks at this stage include:
1. Drop any columns/features 
2. Decide if you with to exclude any observations (rows) due to missing na's.
2. Conduct proper encoding of categorical variables
    1. You can transform them using dummy variable encoding, one-hot-encoding, or label encoding.

#### Drop any columns/variables we will not be using

In [23]:
# Our target is price; but there are three related price variableds - price, price_gte_150, 
# and price_category. We need to drop price_gte_150, and price_category
airbnb.drop(['price', 'price_category'], axis=1, inplace = True) # keep price_gte_150 for our target

#### Drop observations with too many NA's

If we want to remove the rows with NA's use the following code that is commented out. For this exercise - we will not drop rows with NA's

#### Encode our categorical variables

Categorical variables usually have strings for their values. Many machine learning algorithms do not support string values for the input variables. Therefore, we need to replace these string values with numbers. This process is called categorical variable encoding.

In a previous step we identified 5 catagorical variables and found no indication of typos in the class names. Our focus is now on encoding the variables. 

We have three main approaches to encoding variables (these will be discussed in greater detail in class)
* One-Hot-Encoding
* Dummy Encoding
* Label Encoding

In this exercise; we will dummy encode neighbourhood_cleansed, property_type using dummy encoding, and room_type, bed_type and cancelation policy using label encoding. (we will have more discussion on these choices in class).

Before we do our encoding, we must identify if any of our categorical variables have a missing value. We will replace any missing values with the term 'unkown'.

In [24]:
airbnb['property_type'].isna().sum() # check for missing values in this variable/column - we can see there are three for this variable

3

In [25]:
airbnb["property_type"].fillna("unkown", inplace = True)

In [26]:
airbnb['neighbourhood_cleansed'].isna().sum()

0

In [27]:
airbnb['room_type'].isna().sum() # can see by the results below, no missing values

0

In [28]:
airbnb['bed_type'].isna().sum() # can see by the results below, no missing values

0

In [29]:
airbnb['cancellation_policy'].isna().sum() # can see by the results below, no missing values

0

Now, let's encode neighborhood_cleansed and property_type as dummy variables and room_type, bed_type and cancelation_policy labeled (numeric)

In [30]:
dummies_df = pd.get_dummies(airbnb['neighbourhood_cleansed'], prefix='neighbourhood_cleansed', drop_first=True)

In [31]:
airbnb = airbnb.join(dummies_df)
airbnb.drop('neighbourhood_cleansed', axis=1, inplace = True)

In [32]:
airbnb = airbnb.join(pd.get_dummies(airbnb['property_type'], prefix='property_type', drop_first=True))
airbnb.drop('property_type', axis=1, inplace = True)

In [33]:
labelencoder = LabelEncoder()
airbnb['room_type'] = labelencoder.fit_transform(airbnb['room_type'])
airbnb['bed_type'] = labelencoder.fit_transform(airbnb['bed_type'])
airbnb['cancellation_policy'] = labelencoder.fit_transform(airbnb['cancellation_policy'])

In [34]:
# explore the dataframe columns to verify encoding and dropped columns
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 56 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   host_is_superhost                               3555 non-null   int64
 1   host_identity_verified                          3555 non-null   int64
 2   latitude                                        3555 non-null   float64
 3   longitude                                       3555 non-null   float64
 4   room_type                                       3555 non-null   int32
 5   accommodates                                    3555 non-null   int64
 6   bathrooms                                       3541 non-null   float64
 7   bedrooms                                        3545 non-null   float64
 8   beds                                            3546 non-null   float64
 9   bed_type                                        3555 non-null   int32
 10  Number of amenities                             3555 non-null   int64
 11  guests_included                                 3555 non-null   int64
 12  price_per_extra_person                          3555 non-null   int64
 13  minimum_nights                                  3555 non-null   int64
 14  number_of_reviews                               3555 non-null   int64
 15  number_days_btw_first_last_review               3555 non-null   int64
 16  review_scores_rating                            2755 non-null   float64
 17  cancellation_policy                             3555 non-null   int32
 18  price_gte_150                                   3555 non-null   int64
 19  neighbourhood_cleansed_Back Bay                 3555 non-null   uint8
 20  neighbourhood_cleansed_Bay Village              3555 non-null   uint8
 21  neighbourhood_cleansed_Beacon Hill              3555 non-null   uint8
 22  neighbourhood_cleansed_Brighton                 3555 non-null   uint8
 23  neighbourhood_cleansed_Charlestown              3555 non-null   uint8
 24  neighbourhood_cleansed_Chinatown                3555 non-null   uint8
 25  neighbourhood_cleansed_Dorchester               3555 non-null   uint8
 26  neighbourhood_cleansed_Downtown                 3555 non-null   uint8
 27  neighbourhood_cleansed_East Boston              3555 non-null   uint8
 28  neighbourhood_cleansed_Fenway                   3555 non-null   uint8
 29  neighbourhood_cleansed_Hyde Park                3555 non-null   uint8
 30  neighbourhood_cleansed_Jamaica Plain            3555 non-null   uint8
 31  neighbourhood_cleansed_Leather District         3555 non-null   uint8
 32  neighbourhood_cleansed_Longwood Medical Area    3555 non-null   uint8
 33  neighbourhood_cleansed_Mattapan                 3555 non-null   uint8
 34  neighbourhood_cleansed_Mission Hill             3555 non-null   uint8
 35  neighbourhood_cleansed_North End                3555 non-null   uint8
 36  neighbourhood_cleansed_Roslindale               3555 non-null   uint8
 37  neighbourhood_cleansed_Roxbury                  3555 non-null   uint8
 38  neighbourhood_cleansed_South Boston             3555 non-null   uint8
 39  neighbourhood_cleansed_South Boston Waterfront  3555 non-null   uint8
 40  neighbourhood_cleansed_South End                3555 non-null   uint8
 41  neighbourhood_cleansed_West End                 3555 non-null   uint8
 42  neighbourhood_cleansed_West Roxbury             3555 non-null   uint8
 43  property_type_Bed & Breakfast                   3555 non-null   uint8
 44  property_type_Boat                              3555 non-null   uint8
 45  property_type_Camper/RV                         3555 non-null   uint8
 46  property_type_Condominium                       3555 non-null   uint8
 47  property_type_Dorm                              3555 non-null   uint8
 48  property_type_Entire Floor                      3555 non-null   uint8
 49  property_type_Guesthouse                        3555 non-null   uint8
 50  property_type_House                             3555 non-null   uint8
 51  property_type_Loft                              3555 non-null   uint8
 52  property_type_Other                             3555 non-null   uint8
 53  property_type_Townhouse                         3555 non-null   uint8
 54  property_type_Villa                             3555 non-null   uint8
 55  property_type_unkown                            3555 non-null   uint8
dtypes: float64(6), int32(3), int64(10), uint8(37)
memory usage: 614.6 KB

### Safe the pre-split processed data to a csv file

In [35]:
airbnb.to_csv('airbnb_presplit_processed.csv', index=False)

### 4.2 Split data (train/test)

In [36]:
# split the data into validation and training set
train_df, test_df = train_test_split(airbnb, test_size=0.3)

# to reduce repetition in later code, create variables to represent the columns
# that are our predictors and target
target = 'price_gte_150'
predictors = list(airbnb.columns)
predictors.remove(target)

### 4.3  Conduct any data prepartion that should be done *AFTER* the data split

We will look at the following:
1) imput any missing numeric values using the mean of the variable/column
2) remove differences of scale by standardizing the numerica variables

#### Impute missing values

In [37]:
numeric_cols_with_nas = list(train_df.isna().sum()[train_df.isna().sum() > 0].index)
numeric_cols_with_nas

['bathrooms', 'bedrooms', 'beds', 'review_scores_rating']

We can see from the code above that there are 4 variables (columns) that contain missing numeric values (we've already taken care of any missing values in the catagorical variables earlier).

In [38]:
imputer = SimpleImputer(strategy="median")

train_df[numeric_cols_with_nas] = imputer.fit_transform(train_df[numeric_cols_with_nas])
test_df[numeric_cols_with_nas] = imputer.transform(test_df[numeric_cols_with_nas])

#### Standardize numeric values

Now, let's create a common scale between the numberic columns by standardizing each numeric column

In [39]:
# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
cols_to_stdize = ['latitude', 'longitude', 'accommodates', 
                   'bathrooms', 'bedrooms', 'beds', 'Number of amenities', 
                   'guests_included', 'price_per_extra_person', 'minimum_nights', 
                   'number_of_reviews', 'number_days_btw_first_last_review', 
                   'review_scores_rating']                
               
# Transform the predictors of training and validation sets
train_df[cols_to_stdize] = scaler.fit_transform(train_df[cols_to_stdize]) # train_predictors is not a numpy array


test_df[cols_to_stdize] = scaler.transform(test_df[cols_to_stdize]) # validation_target is now a series object

## 5.0 Save the data

In [41]:
train_X = train_df[predictors]
train_y = train_df[target] # train_target is now a series objecttrain_df.to_csv('airbnb_train_df.csv', index=False)
test_X = test_df[predictors]
test_y = test_df[target] # validation_target is now a series object

train_df.to_csv('./data/airbnb_train_df_price_gte_150.csv', index=False)
train_X.to_csv('./data/airbnb_train_X_price_gte_150.csv', index=False)
train_y.to_csv('./data/airbnb_train_y_price_gte_150.csv', index=False)
test_df.to_csv('./data/airbnb_test_df_price_gte_150.csv', index=False)
test_X.to_csv('./data/airbnb_test_X_price_gte_150.csv', index=False)
test_y.to_csv('./data/airbnb_test_y_price_gte_150.csv', index=False)

OSError: Cannot save file into a non-existent directory: 'data'

## Loading the price150 data

In [ ]:
X_train = pd.read_csv("./data/airbnb_train_X_price_gte_150.csv")
X_test = pd.read_csv("./data/airbnb_test_X_price_gte_150.csv")
y_train = pd.read_csv("./data/airbnb_train_y_price_gte_150.csv")
y_test = pd.read_csv("./data/airbnb_test_y_price_gte_150.csv")

## 3. Model the data

First, we will create a dataframe to hold all the results of our models.

In [ ]:
performance = pd.DataFrame({"model": [], "Accuracy": [], "Precision": [], "Recall": [], "F1": []})

### 3.1 Fit and test a Logistic Regression model

### 3.1 Fit a SVM classification model using linear kernal

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix

### 3.3 Fit a SVM classification model using polynomial kernal

In [ ]:
svm_poly_model = SVC(kernel="poly", degree=3, coef0=1, C=10)
_ = svm_poly_model.fit(X_train, np.ravel(y_train))

In [ ]:
model_preds = svm_poly_model.predict(X_test)
c_matrix = confusion_matrix(y_test, model_preds)
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
performance= pd.concat([performance, pd.DataFrame({'model':"poly svm", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])

In [ ]:

performance.sort_values(by=['Precision'],ascending= False)

      model  Accuracy  Precision    Recall        F1
0  poly svm  0.867854   0.855839  0.883239  0.869323

## Gridsearch & Decision tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier 
from matplotlib import pyplot as plt
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

## NOTE: In this next section, GridSearch will use K Fold Cross Validation 

K-Fold cross validation is used to avoid overfitting. 

In k-fold cross-validation, the original sample is randomly partitioned into k equal sized subsamples. Of the k subsamples, a single subsample is retained as the validation data for testing the model, and the remaining k − 1 subsamples are used as training data. The cross-validation process is then repeated k times, with each of the k subsamples used exactly once as the validation data. The k results can then be averaged to produce a single estimation. 

![cross validation diagram](https://scikit-learn.org/stable/_images/grid_search_cross_validation.png)

## Model the data

Conduct an initial random search across a wide range of possible parameters.

In [ ]:
score_measure = "precision"
kfolds = 5

param_grid = {
    'min_samples_split': np.arange(1,100),  
    'min_samples_leaf': np.arange(1,100),
    'min_impurity_decrease': np.arange(0.0001, 0.01, 0.0005),
    'max_leaf_nodes': np.arange(5, 100), 
    'max_depth': np.arange(1,50), 
    'criterion': ['entropy', 'gini'],
}

In [ ]:

dtree = DecisionTreeClassifier()
rand_search = RandomizedSearchCV(estimator = dtree, param_distributions=param_grid, cv=kfolds, n_iter=300,
                           scoring=score_measure, verbose=1, n_jobs=-1,  # n_jobs=-1 will utilize all available CPUs 
                           return_train_score=True)

In [ ]:

_ = rand_search.fit(X_train, y_train)

print(f"The best {score_measure} score is {rand_search.best_score_}")
print(f"... with parameters: {rand_search.best_params_}")

bestRecallTree = rand_search.best_estimator_

Fitting 5 folds for each of 300 candidates, totalling 1500 fits
The best precision score is 0.8553701168468061
... with parameters: {'min_samples_split': 30, 'min_samples_leaf': 23, 'min_impurity_decrease': 0.0021, 'max_leaf_nodes': 91, 'max_depth': 35, 'criterion': 'gini'}

C:\Users\Bhargav Lakkireddy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 1500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Bhargav Lakkireddy\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Bhargav Lakkireddy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\Bhargav Lakkireddy\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 250, in fit
    raise ValueError(
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Bhargav Lakkireddy\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.77844887 0.82488631 0.82488631 0.82488631 0.82488631 0.82488631
 0.8407057  0.82488631 0.82488631 0.77844887 0.82768187 0.84054652
 0.82488631 0.82488631 0.82488631 0.83675493 0.82488631 0.82488631
 0.82488631 0.83585906 0.82488631 0.82586846 0.84056766 0.83581309
 0.83585906 0.82532953 0.82488631 0.82488631 0.82488631 0.8340141
 0.83825509 0.83924658 0.82488631 0.82532953 0.83766907 0.82514459
 0.82488631 0.82532953 0.82488631 0.84173701 0.82488631 0.82825672
 0.82488631 0.82940688 0.82488631 0.83388074 0.82488631 0.83019972
 0.82488631 0.77844887 0.82488631 0.83253161 0.83136413 0.83557214
 0.82488631 0.82756901 0.82488631 0.82488631 0.82488631 0.83556602
 0.84688479 0.82488631 0.82488631 0.83024761 0.82488631 0.82488631
 0.82488631 0.83247073 0.83304336 0.77844887 0.82488631 0.82488631
 0.82488631 0.82488631 0.82488631 0.8268126  0.83865213 0.82490463
 0.77844887 0.84213849 0.82532953 0.84826248 0.82756901 0.82488631
 0.82552271 0.8446265  0.83148979 0.82488631 0.82488631 0.82769013
 0.82488631 0.83711882 0.82488631 0.82552271 0.82488631 0.82514459
 0.82855513 0.82532953 0.82532953 0.82488631 0.82488631 0.82532953
 0.83186859 0.77844887 0.82756901 0.82488631 0.85537012 0.82488631
 0.82488631 0.82488631 0.83216431 0.82488631 0.82488631 0.82488631
 0.82488631 0.82488631 0.84708677 0.82595586 0.82855513 0.82552271
 0.82488631 0.82488631 0.83895825 0.84428996 0.82488631 0.82488631
 0.83766907 0.77844887 0.82488631 0.82615474 0.82595586 0.82488631
 0.83585906 0.83026191 0.83026191 0.82488631 0.83773101 0.82488631
 0.83948565 0.83273566 0.82756901 0.83585906 0.82488631 0.82488631
 0.8365337  0.82488631 0.83924658 0.82488631 0.83766907 0.82507291
 0.8265185  0.83987605 0.82488631 0.84727065 0.77844887 0.83963035
 0.82488631 0.83766907 0.82488631 0.84709762 0.82488631 0.83766907
 0.82532953 0.82488631 0.82488631 0.84193488 0.82488631 0.8406849
 0.82855513 0.83736319 0.84720734 0.82488631 0.82488631 0.82488631
 0.82488631 0.82488631 0.84392919 0.77844887 0.82488631 0.82756901
 0.82488631 0.82488631 0.82488631 0.83766907 0.82490463 0.82532953
 0.82514459 0.82488631 0.82488631 0.82507291 0.83322158 0.8465842
 0.82971325 0.82627955 0.82743759 0.83019972 0.82488631 0.83267695
 0.82488631 0.83153266 0.84491204 0.82488631 0.82488631 0.82488631
 0.83766907        nan 0.82488631 0.82488631 0.82488631 0.82488631
 0.82488631 0.82488631 0.83222366 0.83032083 0.82488631 0.82488631
 0.82488631 0.82488631 0.82488631 0.82488631 0.82532953 0.84084038
 0.82488631 0.82488631 0.8312966  0.83583312 0.82488631 0.82509452
 0.82488631 0.8278815  0.83624489 0.82490463 0.83267695 0.82532953
 0.82488631 0.84645164 0.82487201 0.82488631 0.77844887 0.82488631
 0.82488631 0.82532953 0.82971325 0.82488631 0.82488631 0.77844887
 0.82488631 0.83304336 0.82488631 0.82637624 0.82627955 0.83581309
 0.82488631 0.8280068  0.82488631 0.82487201 0.82488631 0.82488631
 0.82488631 0.82488631 0.77844887 0.83589091 0.83581309 0.82488631
 0.82532953 0.82595586 0.82488631 0.83766907 0.82488631 0.82490421
 0.82488631 0.83585906 0.82488631 0.82488631 0.83225259 0.82488631
 0.83766907 0.77844887 0.83766907 0.8278815  0.84543013 0.82514459
 0.83267695 0.82488631 0.82488631 0.82488631 0.83319848 0.77844887
 0.82488631 0.83364647 0.84123466 0.82488631 0.84756415 0.82488631
 0.82488631 0.84428996 0.82488631 0.83403766 0.82488631 0.83766907]
  warnings.warn(
C:\Users\Bhargav Lakkireddy\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [0.77774902 0.82583601 0.82583601 0.82583601 0.82583601 0.82583601
 0.85197904 0.82583601 0.82583601 0.77774902 0.83955617 0.85004907
 0.82583601 0.82583601 0.82583601 0.86082265 0.82583601 0.82583601
 0.82583601 0.84341642 0.82583601 0.83024509 0.86081172 0.84238417
 0.84341642 0.82601598 0.82583601 0.82583601 0.82583601 0.85727965
 0.84786933 0.86253741 0.82583601 0.82598391 0.84452029 0.82851932
 0.82583601 0.826048   0.82583601 0.84544502 0.82583601 0.8347618
 0.82583601 0.8345461  0.82583601 0.87183353 0.82583601 0.83578976
 0.82583601 0.77774902 0.82583601 0.84044549 0.91980209 0.86590135
 0.82583601 0.83093316 0.82583601 0.82583601 0.82583601 0.8428255
 0.86102433 0.82583601 0.82583601 0.83506881 0.82583601 0.82583601
 0.82583601 0.83861476 0.84049152 0.77774902 0.82583601 0.82583601
 0.82583601 0.82583601 0.82583601 0.83246699 0.86268011 0.8268113
 0.77774902 0.85958334 0.82601598 0.86202723 0.83093316 0.82583601
 0.82637164 0.85328039 0.86644719 0.82583601 0.82583601 0.83061584
 0.82583601 0.84613639 0.82583601 0.82637164 0.82583601 0.82851932
 0.83219021 0.826048   0.826048   0.82583601 0.82583601 0.826048
 0.86071225 0.77774902 0.83093316 0.82583601 0.86875616 0.82583601
 0.82583601 0.82583601 0.84422896 0.82583601 0.82583601 0.82583601
 0.82583601 0.82583601 0.85513746 0.82697856 0.83202072 0.82637164
 0.82583601 0.82583601 0.86278963 0.84936169 0.82583601 0.82583601
 0.84452029 0.77774902 0.82583601 0.83070565 0.82697856 0.82583601
 0.84341642 0.83261379 0.83261379 0.82583601 0.84800719 0.82583601
 0.85025725 0.85000191 0.83093316 0.84341642 0.82583601 0.82583601
 0.83996952 0.82583601 0.86253741 0.82583601 0.84452029 0.83803457
 0.89004685 0.84373893 0.82583601 0.86209664 0.77774902 0.84992506
 0.82583601 0.84452029 0.82583601 0.86080214 0.82583601 0.84452029
 0.826048   0.82583601 0.82583601 0.86488154 0.82583601 0.84862506
 0.83202072 0.84882868 0.86477095 0.82583601 0.82583601 0.82583601
 0.82583601 0.82583601 0.86359489 0.77774902 0.82583601 0.83093316
 0.82583601 0.82583601 0.82583601 0.84452029 0.8268113  0.826048
 0.82848866 0.82583601 0.82583601 0.83803457 0.87611791 0.86729866
 0.83512085 0.83082791 0.84486453 0.83578976 0.82583601 0.84031158
 0.82583601 0.83690262 0.85280786 0.82583601 0.82583601 0.82583601
 0.84452029        nan 0.82583601 0.82583601 0.82583601 0.82583601
 0.82583601 0.82583601 0.83905609 0.83544251 0.82583601 0.82583601
 0.82583601 0.82583601 0.82583601 0.82583601 0.826048   0.86727895
 0.82583601 0.82583601 0.83504222 0.84419188 0.82583601 0.84688781
 0.82583601 0.83301112 0.85949689 0.8268113  0.84031158 0.826048
 0.82583601 0.87617147 0.82814917 0.82583601 0.77774902 0.82583601
 0.82583601 0.826048   0.83512085 0.82583601 0.82583601 0.77774902
 0.82583601 0.84049152 0.82583601 0.84381152 0.83082791 0.84238417
 0.82583601 0.83272552 0.82583601 0.82814917 0.82583601 0.82583601
 0.82583601 0.82583601 0.77774902 0.85435129 0.84238417 0.82583601
 0.82601598 0.82697856 0.82583601 0.84452029 0.82583601 0.84761819
 0.82583601 0.84341642 0.82583601 0.82583601 0.83899004 0.82583601
 0.84452029 0.77774902 0.84452029 0.83301112 0.86407617 0.82851932
 0.84031158 0.82583601 0.82583601 0.82583601 0.85232215 0.77774902
 0.82583601 0.83978321 0.85036837 0.82583601 0.86683291 0.82583601
 0.82583601 0.84936169 0.82583601 0.85809007 0.82583601 0.84452029]
  warnings.warn(

In [ ]:
c_matrix = confusion_matrix(y_test, rand_search.predict(X_test))
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
print(f"Accuracy={(TP+TN)/(TP+TN+FP+FN):.7f} Precision={TP/(TP+FP):.7f} Recall={TP/(TP+FN):.7f} F1={2*TP/(2*TP+FP+FN):.7f}")

Accuracy=0.8397376 Precision=0.8202847 Recall=0.8681733 F1=0.8435499

Conduct an exhaustive search across a smaller range of parameters around the parameters found in the initial random search.

In [ ]:
score_measure = "precision"
kfolds = 5

param_grid = {
    'min_samples_split': np.arange(28,32),  
    'min_samples_leaf': np.arange(20,26),
    'min_impurity_decrease': np.arange(0.0020, 0.0026, 0.0001),
    'max_leaf_nodes': np.arange(88,96), 
    'max_depth': np.arange(32,38), 
    'criterion': ['gini'],
}

dtree = DecisionTreeClassifier()
grid_search = GridSearchCV(estimator = dtree, param_grid=param_grid, cv=kfolds, 
                           scoring=score_measure, verbose=1, n_jobs=-1,  # n_jobs=-1 will utilize all available CPUs 
                           return_train_score=True)

_ = grid_search.fit(X_train, y_train)

print(f"The best {score_measure} score is {grid_search.best_score_}")
print(f"... with parameters: {grid_search.best_params_}")

bestRecallTree = grid_search.best_estimator_

Fitting 5 folds for each of 6912 candidates, totalling 34560 fits
The best precision score is 0.8584728930092839
... with parameters: {'criterion': 'gini', 'max_depth': 32, 'max_leaf_nodes': 88, 'min_impurity_decrease': 0.0021999999999999997, 'min_samples_leaf': 20, 'min_samples_split': 28}

In [ ]:
c_matrix = confusion_matrix(y_test, grid_search.predict(X_test))
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
print(f"Accuracy={(TP+TN)/(TP+TN+FP+FN):.7f} Precision={TP/(TP+FP):.7f} Recall={TP/(TP+FN):.7f} F1={2*TP/(2*TP+FP+FN):.7f}")

Accuracy=0.8462980 Precision=0.8379374 Recall=0.8568738 F1=0.8472998

## 5.0 Importance of features

In [ ]:
np.round(grid_search.best_estimator_.feature_importances_,2)

array([0.  , 0.  , 0.06, 0.1 , 0.71, 0.01, 0.02, 0.07, 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.03, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.01, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ])

## 6.0 Diagrams of DTrees

In [ ]:
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

plt.figure(figsize=(100,75))
tree = plot_tree(grid_search.best_estimator_, 
              #feature_names=train_inputs.columns.values, # our feature names are stripped from the data set
              class_names=['lt 150', 'gte 150'], 
              filled=True, 
              rounded=True, 
              fontsize=14)

NameError: name 'grid_search' is not defined